
body {

}
#color-palette {
    /* width: 250;
    height: 60px;
    margin-left: auto;
    margin-right: auto; */
}

.color {
width: 50px;
height: 50px; 
display: inline-block;
}

#black {
    background-color: black;
}

#pink {
    background-color: rgb(255, 0, 191);
}

#blueviolet {
    background-color: blueviolet;
}

#aqua {
    background-color: aqua;
}

#pixel-board {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.pixel {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

.selected {
    
}